@import "../../../App.scss";

.button-custom {
    font-family: $secondary_font_family;
    font-size: 1.5rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;

    background-color: transparent;
    outline: none;
    border: 3px solid $dark-maroon;

    padding: .3% 2%;    
}