@import "../../App.scss";

//Colors
$bright-orange: #f96400;

.best-product {
    position: relative;
    height: 105vh;
    font-family: $secondary_font_family;
    text-align: center;

    background-image: url("../../assets/header/bes-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: $bright-orange;

    &__list {
        position: absolute;
        top: 63%;
        transform: translate(0, -50%);
        padding: 0 9.6rem;

        .product-item {
            padding: 0;

            img {
                width: 100%;
                height: 50vh;
            }
        }
    }


    .row.no-gutter {
        margin-left: 0;
        margin-right: 0;
    }

    .row.no-gutter [class*='col-']:not(:first-child),
    .row.no-gutter [class*='col-']:not(:last-child) {
        padding-right: 0;
        padding-left: 0;
    }
}