hr {
  margin: 1rem 6.9rem !important;
  background-color: #f4f4f4;
}

.best-product {
  position: relative;
  height: 130vh;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-image: url("../../assets/header/bes-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #f96400;
}

.best-product .carousel-indicators {
  display: none;
}

.best-product__title {
  position: absolute;
  top: 5rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.best-product__title h2 {
  font-size: 3.4rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.best-product__title p {
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  max-width: 665px;
}

.best-product__list .best-product-list--pc-ver {
  position: absolute;
  top: 56.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  padding: 0 4.5%;
}

.best-product__list .best-product-list--mb-ver {
  display: none;
}

.best-product__list .product-item {
  padding: 0;
  position: relative;
}

.best-product__list .product-item img {
  max-height: 514px;
}

.best-product__list .product-item__number-track {
  background-image: url("../../assets/header/producticon-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 92px;
  max-height: 92px;
  width: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: -10%;
  color: #000;
  font-size: 2rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  text-decoration: underline;
}

.best-product__list .product-item__tools {
  position: absolute;
  bottom: -6%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  color: #000;
  background-color: #fff;
  border: solid 3px #020001;
  max-width: 369px;
  max-height: 79px;
  width: 100vh;
}

.best-product__list .product-item__tools .content {
  margin: 2% 2% 2% 8%;
  padding-right: 3%;
  max-width: 188px;
  font-size: 1.2rem;
  font-weight: 800;
}

.best-product__list .product-item__tools .btn-go {
  max-width: 66px;
  max-height: 65px;
  cursor: pointer;
  margin: 1.5% 0 1.5% 17%;
}

@media only screen and (max-width: 1024px) {
  .best-product {
    text-align: center;
    background-image: none;
    height: 100%;
    background-color: #fcd32a;
  }
  .best-product__list .product-item img {
    max-width: 523px;
    max-height: 514px;
    width: 50vh;
  }
  .best-product__list .product-item__number-track {
    max-width: calc(50% - 92px);
    max-height: calc(50% - 92px);
    font-size: 1.5rem;
    top: 0;
  }
  .best-product__list .product-item__tools {
    position: absolute;
    bottom: -10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    color: #000;
    background-color: #fff;
    border: solid 3px #020001;
    font-size: 2rem;
    font-weight: 800;
    width: 70%;
  }
  .best-product__list .product-item__tools .content {
    margin: .2rem .2rem .2rem 1rem;
    font-size: 1rem;
  }
  .best-product__list .product-item__tools .btn-go {
    margin: 5%;
    text-align: right;
    max-width: calc(50% - 66px);
    max-height: calc(50% - 65px);
  }
  .best-product__title {
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    padding: 15% 5%;
  }
  .best-product .best-product-list--pc-ver {
    display: none;
  }
  .best-product .best-product-list--mb-ver {
    display: block;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .best-product .best-product-list--mb-ver .product-item--cf-p {
    padding: 10px;
  }
}
/*# sourceMappingURL=BestProduct.css.map */