@import "../../App.scss";

.brand-story {
    height: 100%;
    background-color: $cerulean;
    text-align: center;
    color: $sun-yellow;
    position: relative;

    padding: 10% 0;

    &__sub-img--cf-position {
        position: absolute;
    }

    &__sub-img {
        &-1 {
            top: 20%;
            left: 6%;
        }

        &-7 {
            top: 50%;
            left: 11.4%;
        }

        &-6 {
            top: 45%;
            left: 0%;
        }

        &-4 {
            top: 25%;
            right: 0%;
        }

        &-5 {
            top: 55%;
            right: 0%;
        }

        &-3 {
            top: 8%;
            right: 10%;
        }

        &-2 {
            top: 2%;
            right: 15%;
        }
    }

    &__title {
        margin-bottom: 5%;

        h2 {
            font-family: $secondary_font_family;
            font-size: 3.2rem;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            margin-bottom: 2rem;
        }

        &-content {
            font-family: $primary_font_family;
            font-size: 1.2rem;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.88;

            max-width: 900px;
            margin: 0 auto;
        }
    }

    &__content {
        color: $black-three;

        .brand-story__content-main {
            text-align: left;
            z-index: 1;

            background-image: url("../../assets/body/brand-story/window.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 100vh;

            max-width: 1151px;
            max-height: 400px;
            position: relative;
            margin: 0 auto;

            .content {
                position: absolute;
                left: 50%;
                top: 10%;
                padding: 2% 5% 0 2%;

                h5 {
                    font-family: $secondary_font_family;
                    font-size: 1.5rem;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.4;
                    letter-spacing: normal;
                }

                p {
                    font-family: $primary_font_family;
                    font-size: 1rem;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.88;
                    letter-spacing: normal;
                    margin: 0 0 2.5rem;
                }

                button {
                    padding: .3% 6% !important;
                }
            }

            &--pc-ver {
                display: block;
            }

            &--mb-ver {
                display: none;

                h5 {
                    font-size: .5rem !important;
                    margin: 0;
                }

                .btn--show-modal {
                    margin: 0 !important;
                }
            }
        }
    }

    @include Responsive(MD) {
        & {
            padding: 10% 5%;

            &__sub-img--cf-position {
                display: none;
            }
        }

        .brand-story__content-main {
            height: 25vh;
        }

        .brand-story__content-main--pc-ver {
            display: none;
        }

        .brand-story__content-main--mb-ver {
            display: block
        }
    }
}

.brand-story__content-main-modal {
    &-body {
        background-color: $cerulean  !important;
        color: $sun-yellow;
    }
}

.brand-story-btn-show--img {
    position: relative;
    width: fit-content;
    /* To adjust the height as well */
    height: fit-content;
    margin: 10% auto;
}

.brand-story-btn-show--link {
    font-family: $secondary_font_family  !important;
    font-size: 1.5rem !important;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    z-index: 1;

    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    &:before {
        content: '';
        background: #54b3d6;
        display: block;
        position: absolute;
        bottom: -2%;
        left: 0;
        width: 0;
        height: 2%;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background-position: 0;
    }

    &:hover::before {
        width: 100%;
    }
}