@import "../../App.scss";

.footer {
    padding: 1.7rem 6.9rem !important;
    text-align: left;

    &__contact {
        margin-bottom: 7%;
    }

    &__corp {
        max-width: 839px;
        max-height: 38px;
        color: $greyish;
    }

    &__social {
       text-align: right;

       &-content {
        list-style: none;
        padding: 0;
        display: flex;
        float: right;
       }

       &-item {
        cursor: pointer;

        img {
            max-width: 23px;
            max-height: 23px;
        }
       }
    }

    &__title {
        font-family: $secondary_font_family;
        font-size: 1rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;

        max-width: 116px;
        max-height: 15px;
    }

    &__content {
        margin-top: 5%;
        list-style: none;
        padding: 0;

        &-item {
            font-family: $primary_font_family;
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;

            &--float-right {
                float: right;
            }
        }

        .item1 {
            max-width: 235px;
            max-height: 135px;
        }

        .item2 {
            max-width: 82px;
            max-height: 76px;
        }

        .item3 {
            max-width: 128px;
            max-height: 138px;
        }

        .item4 {
            max-width: 82px;
            max-height: 107px;
        }

        .item5 {
            max-width: 91px;
            max-height: 138px;
        }
    }

    @include Responsive(MD) {
        & {
            padding: 1.7rem !important;
        }
    }
}