
//fonts
$primary_font_family: 'NotoSans', sans-serif;
$secondary_font_family: 'Montserrat', sans-serif;

//colors
$white: #fff;
$black: #000;
$dark-maroon: #020001;
$black-three: #222222;
$black-two: #111111;
$dark-brown: #110e03;
$pinkish-grey: #ccc8c6;
$cerulean: #0565bb;
$sun-yellow: #fcd32a;
$goldenrod: #fccb05;
$bright-orange-two: #ff5500;

//Responsive
$XS:     480px;   
$SM:     768px;  
$MD:    1024px;   
$XL:   1170px;     

// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
   @media only screen and (max-width: $XS) { @content; } 
  }
  @else if $canvas == SM {
   @media only screen and (max-width: $SM) { @content; } 
  }
  @else if $canvas == MD {
   @media only screen and (max-width: $MD) { @content; } 
  }
  @else if $canvas == XL {
   @media only screen and (max-width: $XL) { @content; } 
  }
}
