@font-face {
  font-family: Montserrat;
  src: url("../public/resources/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: NotoSans;
  src: url("../public/resources/fonts/Noto_Sans/NotoSans-Regular.ttf");

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 30px;
}
